.page-title {
    color: crimson;
    text-align: center;
    font-size: 100px;
}

.food {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    margin-left: 25%;
    margin-right: 25%;
}